

<div class="row">
    <div class="col-sm-11">
        <p class="text-muted">
            GoSolar is an up-and-coming internet startup company dedicated to communities and individuals who are interested in becoming more energy responsible. We at GoSolar are dedicated to our consumers providing data and estimates to help start their financial planning out their investment in alternative energy. Among data research and quotation services, we also give a list of responsible alternative energy installation contractors to help our customers become better environmental stewards to their community, improving both their individual and their community’s health. 
            To get started on your (and your family’s and community’s) journey to become a more energy responsible citizen, click here.
            here is the about text page
        </p>
    </div>

</div>