{{!-- User Input Form --}}
<div class="row">

    <div class="row">
        {{!-- action="/solarData" method="GET" --}}
        <form action="/solarData" method="post">
                Address:<input name='address' type="text">
                City:<input name='city' type="text">
                State:<input name='state' type="text">
                losses:<input name='losses' type="text">
                azimuth:<input name='azimuth' type="text">
                arrray Type:<input name='array_type' type="text">
                module Type:<input name='module_type' type="text">
                system Capacity:<input name='system_capacity' type="text">
                tilt:<input name='tilt' type="text"> 
             <button name="calcSolar" class="right">Calculate</button>
        </form>
    </div>
</div>
{{!-- Results table/charts --}}
<div class="solarData">
    {{#each sunData }}
          {{sunData}}         
    {{/each}}
</div>
{{!-- //testChart// --}}
<div class="row">
    <div class="col m4">
        <canvas id="myChart" width="400" height="400"></canvas> 
    </div>
</div>

{{!-- ////testChart --}}
<script>
    $(document).ready(function(){
    var sunData = $("#sunData");
    console.log(sunData);    
    var sunChart = $("#myChart");
    var myChart = new Chart(sunChart, {
        type: 'bar',
        data: {
            labels: ["Jan", "Feb", "April", "March", "May", "June","Jul", "Aug", "Sept", "Oct", "Nov", "Dec"],
            datasets: [{
                label: 'Kwh AC Output',
                data: [sunData],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                     'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });    
    })

</script>
    