{{!-- User Input Form --}}
{{!-- <script>
    
$(document).ready(function(){
alert('hello there');
</script> --}}

<div class="container">

<div class="row form-control">
    {{!-- action="/solarData" method="GET" --}}
    <form class="col md6" action="/solarData" method="post">
        <div class="form-content">
            {{!-- Address:<input name='address' type="text"> --}}
            <label for="textarea1">City</label>
            <input name='city' type="text">
            <label for="textarea1">State</label>
            <input name='state' type="text">
            <label for="textarea1">Losses</label>
            <input name='losses' type="text">
            <label for="textarea1">Azimuth</label>
            <input name='azimuth' type="text">
            <label for="array_type">Arrray Type</label>
                <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option name='array_type' value="1">Option 1</option>
                    <option name='array_type' value="2">Option 2</option>
                    <option name='array_type' value="3">Option 3</option>
                </select>
            <label for="module_type">Module Type</label>            
                <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option name='module_type' value="1">Option 1</option>
                    <option name='module_type' value="2">Option 2</option>
                    <option name='module_type' value="3">Option 3</option>
                </select>
            <label for="system_capacity">System Capacity</label>   
             <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option name='system_capacity' value="1">Option 1</option>
                    <option name='system_capacity' value="2">Option 2</option>
                    <option name='system_capacity' value="3">Option 3</option>
                </select>
            <label for="tilt">Tilt</label>
            <input name='tilt' type="text">
            <button name="calcSolar" onClick="getData" class="orange center waves-effect waves-light btn">Calculate</button>
        </div>    
    </form>
</div>

{{!-- DATA --}}
<div class="solarData">

    {{#each sunData}}
        <div id='dataNode' hidden>
           <li name="node"> {{this}}</li> 
        </div>
                          
    {{/each}}
</div>

<div class="avgCostData">
    {{#each avgCostData}}
        <div id='costDataNode' hidden>
           <li name="costNode"> {{this}}</li> 
        </div>
                          
    {{/each}}
</div>
{{!-- //testChart// --}}
    <div class="row">
        <span class="col l6">
           <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor nec feugiat nisl pretium fusce id velit ut. Vestibulum lectus mauris ultrices eros in.
           </p>
       </span>
       <div class="row">
       <div class="graphs col l6">
           <canvas id="KwhAc" width="1000" height="400"></canvas> 
       </div>
      
    </div>
    <div class="row">
       <div class="graphs col l6">
           <canvas id="costSavings" width="1000" height="400"></canvas> 
       </div>
        <span class="col l6">
           <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. Eget dolor morbi non arcu risus quis varius quam quisque.
           </p>
       </span>
    </div>
</div>

</div>
<script type="text/javascript">
$(function(){      
//AVG SOLAR POTENTIAL BY MONTH
var myNodelist = document.getElementsByName("node");
    var solarChartData = [];
 // console.log(myNodelist.length);
  //console.log(myNodelist);

  myNodelist.forEach(function(item){
     // console.log(item.innerText);
      solarChartData.push(item.innerText);
  })
    solarChartData.splice(0,1,);
    solarChartData.splice(12,2);
    //console.log(solarChartData);  
//end avg solar
//AVE COST DATA BY MONTH
var myCostNodelist = document.getElementsByName("costNode");
    var costChartData = [];
  //console.log(myCostNodelist.length);
 // console.log(myCostNodelist);

  myCostNodelist.forEach(function(item){
   //   console.log(item.innerText);
      costChartData.push(item.innerText);
  })
    costChartData.splice(0,2);
    costChartData.splice(12,3);
   // console.log(costChartData);
costSavings = [];
for(i = 0; i< solarChartData.length; i++) {
        savings = parseInt(solarChartData[i]) * (parseInt(costChartData[i])/100);
        console.log(savings);
        costSavings.push(savings);
}
   // console.log(costSavings);

 //login
    $('#loginPage').on('click',function(){
                $.get('/loginPage',function(data,status){
                   // console.log('login pressed');
                })
    })
    function getData(){
        console.log('getData Func executed');
        $.ajax({
            url: '/getData',
            type: GET
        }).done(function(ans){
            console.log(JSON.stringify(ans['id']));
            sunChartData = ans;
            console.log(sunChartData);
        })
    };
    var sunData = $("#KwhAc");
    console.log(sunData);    
    var sunChart = $("#KwhAc");
    var acChart = new Chart(sunChart, {
        type: 'bar',
        data: {
            labels: ["Jan", "Feb", "April", "March", "May", "June","Jul", "Aug", "Sept", "Oct", "Nov", "Dec"],
            datasets: [{
                label: 'Kwh AC Output',
                data: solarChartData,
                backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                borderColor: ['rgba(255,44,33,1)'],
                borderWidth: 1
            }]
        },
         options: {
            maintainAspectRatio: false,
            responsive: true,
            title: {
                display: true
            },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        })
    

    var costChart = $("#costSavings");
    var myChart = new Chart(costChart, {
        type: 'bar',
        data: {
            labels: ["Jan", "Feb", "April", "March", "May", "June","Jul", "Aug", "Sept", "Oct", "Nov", "Dec"],
            datasets: [{
                label: 'Total Cost Savings',
                data: costSavings,
                backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                borderColor: ['rgba(255,44,33,1)'],
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            responsive: true,
            title: {
                display: true
            },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        })    
})
</script>

    