{{!-- User Input Form --}}
<div class="row">
   <div class = "container">
    <div class="row">
        <form action="/solarData" method="post">
            <div class="form-content">
                    <div class="form-row">
                      <div class="form-group col-md-3">
                        <label for="inputCity">City</label>
                        <input name='city' type="text" class="form-control" id="inputCity">
                      </div>
                      <div class="form-group col-sm-3">
                        <label for="inputState">State</label>
                        <select id="inputState" class="form-control">
                          <option selected>Choose...</option>
                          <option name='state'>...</option>
                        </select>
                      </div>
                     </div>
                    <div class="form-group col-sm-3">
                        <label for="losses">losses</label>
                        <select id="losses" class="form-control">
                          <option selected>Choose...</option>
                          <option name='losses'>...</option>
                        </select>
                      </div>
                       <div class="form-group col-sm-3">
                        <label for="azimuth">azimuth</label>
                        <select id="azimuth" class="form-control">
                          <option selected>Choose...</option>
                          <option name='azimuth'>...</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-3">
                        <label for="array_type">array_type</label>
                        <select id="array_type" class="form-control">
                          <option selected>Choose...</option>
                          <option name='array_type'>...</option>
                        </select>
                      
                       <div class="form-group col-sm-3">
                        <label for="module_type">module_type</label>
                        <select id="module_type" class="form-control">
                          <option selected>Choose...</option>
                          <option name='module_type'>...</option>
                        </select>
                        </div>
                      </div>
                      <div class="form-group col-sm-3">
                        <label for="system_capacity">system_capacity</label>
                        <select id="system_capacity" class="form-control">
                          <option selected>Choose...</option>
                          <option name='system_capacity'>...</option>
                        </select>
                     
                       <div class="form-group col-sm-3">
                        <label for="tilt">tilt</label>
                        <select id="tilt" class="form-control">
                          <option selected>Choose...</option>
                          <option name='tilt'>...</option>
                        </select>
                      </div>
                    </div>

                <button name="calcSolar" class="right">Calculate</button>
            </div>    
        </form>
    </div>
</div>

{{!-- DATA --}}
<div class="solarData">
    {{#each sunData}}
        <div id='dataNode' hidden>
           <li name="node"> {{this}}</li> 
        </div>
                          
    {{/each}}
</div>

<div class="avgCostData">
    {{#each avgCostData}}
        <div id='costDataNode' hidden>
           <li name="costNode"> {{this}}</li> 
        </div>
                          
    {{/each}}
</div>
{{!-- //testChart// --}}
    <div class="row">
        <span class="col l6">
           <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor nec feugiat nisl pretium fusce id velit ut. Vestibulum lectus mauris ultrices eros in.
           </p>
       </span>
       <div class="row">
       <div class="graphs col l6">
           <canvas id="KwhAc" width="1000" height="400"></canvas> 
       </div>
      
    </div>
    <div class="row">
       <div class="graphs col l6">
           <canvas id="costSavings" width="1000" height="400"></canvas> 
       </div>
        <span class="col l6">
           <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. Eget dolor morbi non arcu risus quis varius quam quisque.
           </p>
       </span>
    </div>
</div>

</div>
<script type="text/javascript">
$(function(){      
//AVG SOLAR POTENTIAL BY MONTH
var myNodelist = document.getElementsByName("node");
    var solarChartData = [];
 // console.log(myNodelist.length);
  //console.log(myNodelist);

  myNodelist.forEach(function(item){
     // console.log(item.innerText);
      solarChartData.push(item.innerText);
  })
    solarChartData.splice(0,1,);
    solarChartData.splice(12,2);
    //console.log(solarChartData);  
//end avg solar
//AVE COST DATA BY MONTH
var myCostNodelist = document.getElementsByName("costNode");
    var costChartData = [];
  //console.log(myCostNodelist.length);
 // console.log(myCostNodelist);

  myCostNodelist.forEach(function(item){
   //   console.log(item.innerText);
      costChartData.push(item.innerText);
  })
    costChartData.splice(0,2);
    costChartData.splice(12,3);
   // console.log(costChartData);
costSavings = [];
for(i = 0; i< solarChartData.length; i++) {
        savings = parseInt(solarChartData[i]) * (parseInt(costChartData[i])/100);
        console.log(savings);
        costSavings.push(savings);
}
   // console.log(costSavings);

 //login
    $('#loginPage').on('click',function(){
                $.get('/loginPage',function(data,status){
                   // console.log('login pressed');
                })
    })
    function getData(){
        console.log('getData Func executed');
        $.ajax({
            url: '/getData',
            type: GET
        }).done(function(ans){
            console.log(JSON.stringify(ans['id']));
            sunChartData = ans;
            console.log(sunChartData);
        })
    };
    var sunData = $("#KwhAc");
    console.log(sunData);    
    var sunChart = $("#KwhAc");
    var acChart = new Chart(sunChart, {
        type: 'bar',
        data: {
            labels: ["Jan", "Feb", "April", "March", "May", "June","Jul", "Aug", "Sept", "Oct", "Nov", "Dec"],
            datasets: [{
                label: 'Kwh AC Output',
                data: solarChartData,
                backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                borderColor: ['rgba(255,44,33,1)'],
                borderWidth: 1
            }]
        },
         options: {
            maintainAspectRatio: false,
            responsive: true,
            title: {
                display: true
            },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        })
    

    var costChart = $("#costSavings");
    var myChart = new Chart(costChart, {
        type: 'bar',
        data: {
            labels: ["Jan", "Feb", "April", "March", "May", "June","Jul", "Aug", "Sept", "Oct", "Nov", "Dec"],
            datasets: [{
                label: 'Total Cost Savings',
                data: costSavings,
                backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                borderColor: ['rgba(255,44,33,1)'],
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            responsive: true,
            title: {
                display: true
            },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        })    
})
</script>

    