  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>

<table> 
    <thead>
        <td>LOGIN PAGE FOUND</td>
    </thead>
</table>

{{!-- some client side js --}}
<script>
    $(document).ready(function(){


    });
</script>

