  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>

<form> 
    <div class="form-control">
        <label>Username</label>
        <input class="user" type="text">
    </div>
     <div class="form-control">
        <label>Password</label>
        <input class="password" type="password">
    </div>
    <div class="row form-control">
        <div class="left">
            <button>Create Account</button>   
        </div>
        <div class="right">
            <button>Login</button>
        </div>
</form>
        </div>

{{!-- some client side js --}}
<script>
    $(document).ready(function(){


    });
</script>

