

<div class="row">
    <div class="productsTable">
        <table class="table">
            <thead>
              <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Monocrystalline Solar Panel</td>
                <td>Made from the highest quality...</td>
                <td>$342</td>
              </tr>
              <tr>
                <td>Polycrystalline Solar Panel</td>
                <td>High temperature ratings are slightly lower than those for monocrystalline panels;</td>
                <td>$35</td>
              </tr>
              <tr>
                <td>Thin film Solar Panel</td>
                <td>These panels are lightweight, they are generally immune to problems from shading or obstructi...</td>
                <td>$345</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
{{!-- <div class = "home1-row">
                <div class="form-group col-sm-4">
                  <div class="card" style="width: 20rem;">
                     <img class="card-img-top" src="../imag/solar_home5.jpg" alt="Card image cap">
                    <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
          <div class = "home2-row"> 
             <div class="form-group col-sm-4">
              <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="../imag/solar_home6.jpg" class="img-fluid" alt="Card image cap">
                 <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
             </div>
            </div>
          </div>
          <div class = "home3-row"> 
            <div class="form-group col-sm-4">
                  <div class="card" style="width: 20rem;">
                     <img class="card-img-top" src="../imag/solar_home7.jpg" alt="Card image cap">
                    <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
 --}}
