        <<<<<<< HEAD
        <!DOCTYPE html>
        <html lang="en">
          <head>
            <title>Products</title>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="sltyleaheet" href="css/style.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">    
          </head>

            <div class="bg-info text-white" >
              <header>
                <div class= "header" >
                    <ul class="nav justify-content-end navbar navbar-light" style="background-color: #0f0c02;">
                        <li class="nav-item ">
                          <a class="nav-link" href="index.html"> About</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="products.html">Products</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " href="login.html">Login</a>
                        </li>
                      </ul>
                  </div>
                </header>
          <body>
              
    
             <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                 <div class="carousel-item active">
                   <img class="d-block w-100" src="../imag/house-roof-640.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../imag/dia.jpg" alt="Second slide">
                </div>
                 <div class="carousel-item">
                    <img class="d-block w-100" src="../imag/solarhome.jpg" alt="Third slide">
                 </div>
                </div>
              </div>
              <div>
                 <h1 offset col-md-12"> List of Products</h1>
              </div>
               <div class= "ourProducts">
                   <table class= "table table-hover table-dark">
                    <thead>
                      <tr>
                        <th scope= "col">#</th>
                        <th scope= "col">Product Name</th>
                        <th scope= "col">product discription</th>
                        <th scope= "col">cost</th>
                        <th scope= "col">weight</th>
                        <th scope= "col">imgUrl</th>
                        <th scope= "col">stock</th>
                        <th scope= "col">manufacturer</th>
                        <th scope= "col">module Type</th>
                        <th scope= "col">price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                        <td data-price="$7,905.00"> <div class="cart">
                            <div class="add-section">
                    
                       <div class="price ">$7,905.00</div>
                        <button class="add-button" type="submit" id="1890034" data-partnumber="1890034" data-rawprice="7905" data-price="$7,905.00" data-d1="eyJjdCI6IkRoWnl3V3ZWcHdpbkdScjJTUEZENGc9PSIsIml2IjoiZTBlY2Y1NWI4ZjgyNjViMDExNGZlZDNjOGE3Zjc1NzkiLCJzIjoiMGI4YzE1MmNjMmExODljYSJ9" data-d2="eyJjdCI6IlYwWkxqYjZtOWc2VllLc3lhcEJcL1lnPT0iLCJpdiI6ImFjMzlkZjIzYzQzZmZkMjU0OGE3ZmNiMWIwMDMzZjU4IiwicyI6IjljOTY1OGM2ZDZjMjIyODEifQ==" data-shipgroup="Freight" data-freeship="0" data-regprice="7905" data-sale="disabled"><span class="add-text">Add to Cart</span>
                        <img class="add-image svgswap" src="../imag/shopingCart.jpg" alt="shopingCart" data-svgswap="//ww3.wholesalesolar.com/cart.png">
                    </button>
                    
                </div>
                <div class="qty-section">
                    <div class="qty-label">Qty <input class="qty-input" type="number" name="quantity" min="1" max="99" value="1"></div>
                </div>
                
          
                    </div></td>

                      </tr>
                    </tbody>
                 </table>
                </div>
            </div>
                <!-- </div> -->
              <div class = "home1-row">
                <div class="form-group col-sm-4">
                  <div class="card" style="width: 20rem;">
                     <img class="card-img-top" src="../imag/solar_home5.jpg" alt="Card image cap">
                    <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
          <div class = "home2-row"> 
             <div class="form-group col-sm-4">
              <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="../imag/solar_home6.jpg" class="img-fluid" alt="Card image cap">
                 <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
             </div>
            </div>
          </div>
          <div class = "home3-row"> 
            <div class="form-group col-sm-4">
                  <div class="card" style="width: 20rem;">
                     <img class="card-img-top" src="../imag/solar_home7.jpg" alt="Card image cap">
                    <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
             
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  </body>  
    <footer>
      <div class="card ">
        <div style="background-color: #130e02";>
        <div class="card-body ">
          <div class="github">
            <a href = "https://github.com/anmolvgn/solarishomes"><img = src="../imag/github.jpg" alt= "github Logo" class=""></a>
             </div>
           <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> 
        </div>
      </div>     
    </footer>
</html>
              
=======


<div class="row">
    <div class="productsTable">
        <table class="table">
            <thead>
              <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Monocrystalline Solar Panel</td>
                <td>Made from the highest quality...</td>
                <td>$342</td>
              </tr>
              <tr>
                <td>Polycrystalline Solar Panel</td>
                <td>High temperature ratings are slightly lower than those for monocrystalline panels;</td>
                <td>$35</td>
              </tr>
              <tr>
                <td>Thin film Solar Panel</td>
                <td>These panels are lightweight, they are generally immune to problems from shading or obstructi...</td>
                <td>$345</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
<<<<<<< HEAD


>>>>>>> 203e2f5213516f6a8455d2eda719d2d2be439182
=======
{{!-- <div class = "home1-row">
                <div class="form-group col-sm-4">
                  <div class="card" style="width: 20rem;">
                     <img class="card-img-top" src="../imag/solar_home5.jpg" alt="Card image cap">
                    <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
          <div class = "home2-row"> 
             <div class="form-group col-sm-4">
              <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="../imag/solar_home6.jpg" class="img-fluid" alt="Card image cap">
                 <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
             </div>
            </div>
          </div>
          <div class = "home3-row"> 
            <div class="form-group col-sm-4">
                  <div class="card" style="width: 20rem;">
                     <img class="card-img-top" src="../imag/solar_home7.jpg" alt="Card image cap">
                    <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
 --}}
>>>>>>> 9412178cd7e9bec339800e8d35fd770f7c3b12d1
