
<div class="row">
    <div class="col m6">
        <table class="table">
            <thead>
              <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Monocrystalline Solar Panel</td>
                <td>Made from the highest quality...</td>
                <td>$342/td>
              </tr>
              <tr>
                <td>Polycrystalline Solar Panel</td>
                <td>High temperature ratings are slightly lower than those for monocrystalline panels;</td>
                <td>$35</td>
              </tr>
              <tr>
                <td>Thin film Solar Panel</td>
                <td>These panels are lightweight, they are generally immune to problems from shading or obstructi...</td>
                <td>$345</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>


