  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<div class="row">
    <div class="col md5">
        <form> 
            <div class="form-control">
                <label>Name</label>
                <input name="name" type="text">
            </div>
             <div class="form-control">
                <label>Email</label>
                <input name="email" type="email">
            </div>
            <div class="form-control">
                <label>password</label>
                <input name="password" type="password" placeholder="password">
            </div>
            <div class="register">
                <button class="waves-effect waves-light btn">Register</button>
            </div>
        </form>
    </div>
</div>


{{!-- some client side js --}}
<script>
    $(document).ready(function(){

    });
</script>

