{{!-- REGISTER PAGE --}}
<div class="entry">
  {{#each errors}}
    <label class="error"><li>{{msg}}</li></label>
  {{/each}}
</div>
<div>
  <h1 class="text-muted text-center">Register</h1>  
</div>

<div class="row">
    <div class="registerForm">
        <form action="/userSetup" method="post"> 
            <div class="form-control">
                <label>Name</label>
                <input name="name" type="text">
            </div>
             <div class="form-control">
                <label>Email</label>
                <input name="email" type="email">
            </div>
             <div class="form-control">
                <label>Username</label>
                <input name="username" type="text">
            </div>
            <div class="form-control">
                <label>Password</label>
                <input name="password" type="password" placeholder="password">
            </div>
             <div class="form-control">
                <label>Confirm Password</label>
                <input name="ConfirmPassword" type="password" placeholder="confirm password">
            </div>
            {{!-- <div class="register"> --}}
                <button name="Register" id="createUser" class="btn orange waves-effect waves-light ">Register</button>
            {{!-- </div> --}}
        </form>
    </div>
</div>



