  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>

<form> 
    <div class="form-control">
        <label>Name</label>
        <input name="name" type="text">
    </div>
     <div class="form-control">
        <label>Email</label>
        <input name="email" type="email">
    </div>
    <div class="form-control">
        <label>password</label>
        <input name="password" type="password" placeholder="password">
    </div>
    <div class="register">
        <button class="btn">Register</button>
    </div>
</form>

{{!-- some client side js --}}
<script>
    $(document).ready(function(){


    });
</script>

