body {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }
nav {
  background-color: #3d88ec;
  margin-bottom: 44px;
}
.formBtn{
  padding: 11px;
}
.registerBtn{
  padding-top: 11px;
}
.aboveForm {
  padding: 22px;
  background-image: url("public/img/carboon.jpg");  
}
blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #3d88ec;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -111px;
}

.footer{
    /* background-image: url("/img/carboon.jpg");   */
  margin-bottom: 110;
  padding-top: 22px;
  background-color: #3d88ec;
}
.push {
height: 111px;
}
  main {
    flex: 1 0 auto;
  }
h1 {
  padding-top: 22px;
}
.carousel {
    width:640px;
    height:360px;
} 

.hidden {
    display: none;
}
.graphs {
    height: 44vh;
    width: auto;
}
.chartText p {
  vertical-align: middle;
}
.solarForm {
  width: 44%;
  /* display: inline-block; */
  margin: 0 auto;
  /* float: none; */
}
.loginForm {
  padding-top: 44;  
  width: 44%;
  margin: 0 auto;
  /* float: none; */
}
.registerForm {
  width: 55%;
  margin: 0 auto;
  /* float: none; */
}
.productsTable {
  padding-top: 44;  
  width: 88%;
  margin: 0 auto;
  /* float: none; */
}
a {
  text-decoration: none !important;
}